# Python basics
## Introduction
some *text*, **that** we can ***hihlight***
- point 1
- point 2
- point 3

In [1]:
print ("Hello world!")

Hello world!

In [2]:
# this is a comment 
print ("something")

something

In [8]:
name = "Lovelace"
# Ada Lovelace very first programming woman

In [4]:
print (name)

Lovelace

In [5]:
name

'Lovelace'

In [6]:
age = 73

In [7]:
size = 1.7123

In [10]:
knows_math = True
likes_gardening = False

In [11]:
print (knows_math)

True

In [12]:
type (name)

str

In [13]:
age

73

In [14]:
size

1.7123

In [15]:
type (age)

int

In [16]:
type (size)

float

In [17]:
type (likes_gardening)

bool

In [18]:
type (likes_gardening)

bool

In [19]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [20]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [21]:
name + "10"

'Lovelace10'

In [22]:
name + str(10)

'Lovelace10'

In [23]:
int ("10")

10

## Functions and Methods

In [24]:
len (name)

8

In [25]:
name.upper()

'LOVELACE'

In [26]:
name

'Lovelace'

In [27]:
name_uppercase = name.upper()

In [28]:
name

'Lovelace'

In [29]:
name_uppercase

'LOVELACE'

In [30]:
name = name.upper()

In [31]:
name

'LOVELACE'

In [32]:
name = lower.case()

NameError: name 'lower' is not defined

In [33]:
name.ljust

In [34]:
name

'LOVELACE'

In [35]:
name.lower

In [36]:
name

'LOVELACE'

In [39]:
name = name.lower()

AttributeError: 'builtin_function_or_method' object has no attribute 'lower'

In [38]:
name

In [40]:
name

In [41]:
name = "Lovelace"

In [42]:
name

'Lovelace'

In [43]:
name = name.lower()

In [44]:
name

'lovelace'

In [46]:
name.replace ("lace", " is in the air")

'love is in the air'

In [47]:
name.count?

## Lists and Dictionaries

In [48]:
# List
names = ["Lovelace", "Darwin", "Curie","Hawking" ]

In [49]:
names [2]

'Curie'

In [50]:
names [0]

'Lovelace'

In [51]:
names [3]
#last element

'Hawking'

In [52]:
names [-1]
#also last element

'Hawking'

In [53]:
names [0:3]
#in subsets, the first element is included and the last is excluded

['Lovelace', 'Darwin', 'Curie']

In [54]:
names [:3]
#same as name [0:3]

['Lovelace', 'Darwin', 'Curie']

In [56]:
names [3:]

['Hawking']

In [61]:
authors_and_birth_years = {"Lovelace": 1882, "Darwin": 1809, "Noether": 1882, "Hawking": 1942}

In [62]:
authors_and_birth_years ["Darwin"]

1809

In [63]:
type Darwin

SyntaxError: invalid syntax (<ipython-input-63-4996b0eaaea5>, line 1)

In [64]:
type "Darwin"

SyntaxError: invalid syntax (<ipython-input-64-b4c0870bf9f0>, line 1)

In [65]:
type (Darwin)

NameError: name 'Darwin' is not defined

In [67]:
authors_and_birth_years = {"Lovelace": 1882, "Darwin": [1800, 1801], "Noether": 1882, "Hawking": "bith year NA"}

In [68]:
authors_and_birth_years ["Darwin"] [0]

1800

In [70]:
authors_and_birth_years ["Darwin"] [1800]

IndexError: list index out of range

## for-loop

In [78]:
for person in names:
    print (person + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Noether did awesome stuff
Hawking did awesome stuff

In [77]:
names = ["Lovelace", "Darwin", "Noether", "Hawking"]

name

In [75]:
name

['Lovelace', 'Darwin', 'Noether', 'Hawking']

In [79]:
for person in names:
    print (person + " did awesome stuff")
    print ("---------------")

Lovelace did awesome stuff
---------------
Darwin did awesome stuff
---------------
Noether did awesome stuff
---------------
Hawking did awesome stuff
---------------

In [80]:
for person in names:
    print (person + " did awesome stuff")
print ("---------------")

Lovelace did awesome stuff
Darwin did awesome stuff
Noether did awesome stuff
Hawking did awesome stuff
---------------

## Conditionals

In [83]:
temp = 10
if temp > 15: 
    print ("it's warm")
else:
    print("It's cold")

It's cold

In [85]:
temp = 15
if temp >= 25: 
    print("it's hot")
elif temp >= 15:
    print ("it's warm")
elif temp >= 10:
    print ("it's mild")
else: 
    print ("it's cold")

it's warm

In [87]:
temp = 35
if temp >= 10:
    print ("it's mild")
elif temp >= 15:
    print ("it's warm")
elif temp >= 10:
    print ("it's mild")
else: 
    print ("it's cold")
##aufpassen auf die Reihenfolge, da keine elifs mehr kontrolliert werden, wenn das erste Kriterium getroffen wurde

it's mild